.fixed {
  //width: 100%;
  //position: fixed;
  //top: 0;
  //transition: all 0.5s;
  //z-index: 9;
}

header {
  width: 100%;
  background-color: var(--color-white);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .header {
    width: 90%;
    height: 8rem;
    //max-width: 1500px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    @media screen and (max-width: 800px) {
      margin-bottom: 20px;
  }
}

  .logo {
    width: 25%;
    //color: #fff;
    cursor: pointer;
  }

  nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    position: relative;
    ul {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 200px;

      list-style: none;

      .logo-mobile {
        display: none;
      }

      li {
        margin: 0 5px;
        a {
          font-size: 18px;
          //padding: 10px;
          color: var(--color-grey-5);
          &:hover {
            color: var(--dark-blue);
          }
        }
      }
    }
  }

  .header-right {
    display: flex;

    .cart a {
      display: flex;
      color: var(--color-grey-5);
      position: relative;
      &:hover {
        color: var(--dark-blue);
      }
      &.active {
        color: var(--dark-blue);
      }
      p {
        position: absolute;
        top: -1rem;
        right: -1rem;
        font-weight: 500;
      }
    }

    span {
      margin: 0 5px;

      p {
        color: var(--color-grey-5);
      }
    }

    .links a {
      margin: 0 5px;
      color: var(--color-grey-5);
      &:hover {
        color: var(--dark-blue);
      }
      &.active {
        color: var(--dark-blue);
      }
    }
  }

  .menu-icon {
    cursor: pointer;
    display: none;
    color: var(--dark-blue)
  }

  @media screen and (max-width: 800px) {
    nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      background-color: var(--med-blue);
      padding: 1rem;
      z-index: 999;
      transform: translateX(-200%);
      transition: all 0.3s;

      .nav-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        //background-color: rgba(0, 0, 0, 0.5);
        transform: translateX();
        transition: all 0.3s;
      }

      .show-nav-wrapper {
        transform: translateX(100%);
      }

      ul {
        display: block;
        .logo-mobile {
          display: none;
          justify-content: space-between;
          align-items: center;
          > * {
            cursor: pointer;
          }
        }
        li {
          padding: 10px 0;
          //border-bottom: 1px solid #333;
          a {
            display: block;
            color: #fff;
          }
        }
      }

      .header-right {
        display: block;
        .cart {
          color: #fff;
          // display: block;
          // padding: 5px 0;
          //border-bottom: 1px solid #333;
          // a {
          //   position: relative;
          //   p {
          //     position: absolute;
          //     top: -1rem;
          //     left: 5rem;
          //     font-weight: 500;
          //   }
          // }
        }

        .links {
          display: block;
      
          a {
            display: block;
            color: white;
            margin: 0;
            padding: 5px 0;
            //border-bottom: 1px solid #333;
          }
        }
      }
    }
    .cart {
      display: block;
      padding: 5px 0;
      color: #fff;
      // border-bottom: 1px solid #333;
      a {
        color: #fff !important;
        position: relative;
        &:hover {
          //color: var(--dark-blue);
        }
        p {
          position: absolute;
          top: -1rem;
          left: 2rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .show-nav {
      transform: translateX(0);
    }
    .hide-nav {
      transform: translateX(-200%);
    }
    .menu-icon {
      display: flex;
      > * {
        margin-left: 2rem;
      }
    }
  }
}

.active {
  position: relative;
  //color: var(--dark-blue);
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
